@model IEnumerable<HotelBooking.Models.Room>

@{
    ViewBag.Title = "Pick a room";
}

<h2>Rooms</h2>
@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{
    foreach (var room in Model)
    {
        <div class="row">
            <div class="col-lg-7 table-bordered">
                <div class="thumbnail">
                    <img src="@room.Image" alt="@room.Image" width="450" height="350" />
                </div>
                <div class="col-lg-12">
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            AC
                        </div>
                        <div class="col-lg-5">
                            :
                            @if (room.AC)
                            {
                                <span class="glyphicon glyphicon-check" style="color:green"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-asterisk" style="color:darkred"></span>
                            }

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            King Bed
                        </div>
                        <div class="col-lg-5">
                            :
                            @if (room.King)
                            {
                                <span class="glyphicon glyphicon-check" style="color:green"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-asterisk" style="color:darkred"></span>
                            }
                        </div>
                            <div class="col-lg-3">
                                <input type="submit" name="Submit" value="Select" class="btn btn-default" style="text-align:end" />
                            </div>
                        </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Private Pool
                        </div>
                        <div class="col-lg-5">
                            :
                            @if (room.PrivatePool)
                            {
                                <span class="glyphicon glyphicon-check" style="color:green"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-asterisk" style="color:darkred"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }

    
}